@{
    ViewBag.Title = "Home Page";
}
@section MenuIzq{
    <li>@Html.ActionLink("Registro", "User", "Home")</li>
    <li>@Html.ActionLink("Login", "Login", "Home")</li>
}

<h1> PRACTICA 2 - AYD1 </h1>