@{
    ViewBag.Title = "Home Page";
}
@section MenuDer{
    <li>@Html.ActionLink("Registro", "User", "Home")</li>
    <li>@Html.ActionLink("Login", "Login", "Home")</li>
}

<h1 class="page-header"> [AYD1] Practica 2 </h1>