
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MenuDer{
    <li>@Html.ActionLink("Registro", "User", "Home")</li>
    <li>@Html.ActionLink("Login", "Login", "Home")</li>    
}


  <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Iniciar Sesion </h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" id="txtCodigo" placeholder="Codigo" name="codigo" type="text" value="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="txtUser" placeholder="User" name="user" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="txtPass"  placeholder="Password" name="password" type="password" value="">
                            </div>
                            <input id="btnIngresar" type="button" class="btn btn-lg btn-success btn-block" value="Ingresar">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div id="correcto" class="alert alert-success">
    </div>
</div>
<div class="row">
    <div id="error" class="alert alert-warning">
    </div>
</div>

<script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#error').hide();
        $('#correcto').hide();
        $('#btnIngresar').click(function () {
            var cod = $('#txtCodigo').val();
            var user = $('#txtUser').val();
            var pass = $('#txtPass').val();
            
            if (user && (user != '') && pass && (pass != ''))
                verificar(cod,user, pass);
        });
    });

    function verificar(codigo,user, pass) {
        $.ajax({
            type: "POST",
            url: "/Home/Ingresar",
            data: '{codigo : "' + codigo + '", user: "' + user + '", pass : "' + pass + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                if (msg.resultado == "1") {
                    $('#correcto').html("<p>" + msg.msj + "</p>");
                    var url = '@Url.Action("Inicio", "Bank", new { usuario = "_id_"})';
                    window.location.href = url.replace("_id_",msg.msj);;
                } else {
                    $('#error').html("<p>" + msg.msj + "</p>");
                    $('#error').show();
                    $('#correcto').hide();
                }
            },
            error: function (result) {
                alert("ERROR " + result.status + ' ' + result.statusText);
            }
        });

    };
</script>


