@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MenuDer{
    <li>@Html.ActionLink("Registro", "User", "Home")</li>
    <li>@Html.ActionLink("Login", "Login", "Home")</li>
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Registro de Usuario </h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" id="txtNombre" placeholder="Nombre" name="nombre" type="text" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txtApellido" placeholder="Apellido" name="apellido" type="text" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txtCorreo" placeholder="Correo" name="correo" type="email" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txtUser" placeholder="User" name="user" type="text" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txtPass" placeholder="Password" name="password" type="password" value="">
                        </div>
                        <input type="button" id="btnAceptar" class="btn btn-lg btn-success btn-block" value="Registrar">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>



<div  class="row"  >
    <div id="correcto" class="alert alert-success">
    </div>
</div>
<div  class="row"  >
    <div id="error" class="alert alert-warning">
    </div>
</div>

<script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#error').hide();
        $('#correcto').hide();
        $('#btnAceptar').click(function () {
            var nombre = $('#txtNombre').val();
            var apellido = $('#txtApellido').val();
            var correo = $('#txtCorreo').val();
            var user = $('#txtUser').val();
            var pass = $('#txtPass').val();

            if (nombre && (nombre != ''))
                enviarDatos(nombre, apellido, correo, user, pass);
        });
    });

    function enviarDatos(nombre, apellido, correo, user, pass) {
        $.ajax({
            type: "POST",
            url: "/Home/RegistrarUsuario",
            data: '{nombre: "' + nombre + '", apellido : "' + apellido + '", correo : "' + correo + '", user : "' + user + '", pass : "' + pass + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                if (msg.resultado == "1") {
                    $('#correcto').html("<p>"+msg.msj+"</p>");
                    $('#correcto').show();
                } else {
                    $('#error').html("<p>"+msg.msj+"</p>");
                    $('#error').show();
                    $('#correcto').hide();
                }
            },
            error: function (result) {
                alert("ERROR " + result.status + ' ' + result.statusText);
            }
        });

    };
</script>
